<a href="https://colab.research.google.com/github/Charlez42/ejercicio-telecomx/blob/main/TelecomX_LATAM_FUENTES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#游늷 Extracci칩n

In [19]:
import pandas as pd

# URL directa del archivo JSON en GitHub
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

# Cargar los datos directamente en un DataFrame
df = pd.read_json(url)

In [20]:
df.to_csv('telecom_data.csv', index=False)

 # 游댢Transformaci칩n

In [21]:
import pandas as pd
import json

# 1. Cargamos el archivo CSV que ya tienes
df = pd.read_csv('telecom_data.csv')

# 2. Funci칩n para convertir el texto en columnas usando la librer칤a 'json' est치ndar
# Reemplazamos las comillas simples por dobles para que el formato sea v치lido
def limpiar_y_expandir(df, columna):
    # Paso A: Limpiamos el texto (JSON est치ndar usa " no ')
    columna_corregida = df[columna].str.replace("'", '"')

    # Paso B: Convertimos el texto a diccionarios reales
    datos_dict = columna_corregida.apply(json.loads)

    # Paso C: Expandimos en nuevas columnas
    return pd.json_normalize(datos_dict)

# 3. Aplicamos la limpieza a cada columna "amontonada"
df_customer = limpiar_y_expandir(df, 'customer')
df_phone = limpiar_y_expandir(df, 'phone')
df_internet = limpiar_y_expandir(df, 'internet')
df_account = limpiar_y_expandir(df, 'account')

# 4. Unimos todo en un solo DataFrame limpio
df_final = pd.concat([
    df[['customerID', 'Churn']],
    df_customer,
    df_phone,
    df_internet,
    df_account
], axis=1)

# 5. Ajustes finales de formato (Seguimos tu diccionario de datos)
df_final['Charges.Total'] = pd.to_numeric(df_final['Charges.Total'], errors='coerce').fillna(0)
df_final = df_final.dropna(subset=['Churn']).reset_index(drop=True)

# Verificamos el resultado
print(f"Dataset listo con {df_final.shape[0]} registros.")
display(df_final.head())

Dataset listo con 7043 registros.

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

#游늵 Carga y an치lisis

#游늯Informe final